<!DOCTYPE html>
<html lang="es">
<%- include ('partials/head.ejs')%>

    <body>
        <%- include ('partials/navigation')%>

            <div class="container p-5">
                <div class="row">
                    <div class="col-6 offset-4">
                        <div class="card animate__animated animate__flipInY">
                            <div class="card-header bg-dark text-center text-white">
                                <h3>Contact us</h3>
                            </div>
                            <div class="card-body">
                                <form action="">
                                    <form-group>
                                        <input type="text" class="form-control my-4" placeholder="Email">
                                    </form-group>
                                    <form-group>
                                        <textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
                                    </form-group>
                                    <button class="btn btn-primary btn-block my-4">Send message</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include ('partials/footer')%>
    </body>

</html>