<!DOCTYPE html>
<html lang="es">
<%- include ('partials/head.ejs')%>

    <body>
        <%- include ('partials/navigation')%>

            <h1 class="text-center my-5 text-white">What we do</h1>

            <div class="container text-center text-white my-3">
                <h4 class="my-4">We create beautiful, human-friendly digital experiences that solve problems for businesses and consumers at the intersection of the property and energy sectors.</h4>
                <h4 class="my-4">In fact, our products streamline over 60,000 energy connections every year for tier-1 energy retailers, builders and property managers across Australia.</h4>
            </div>


            <div class="container my-5">
                <header class="row">
                    <div class="col-lg-12 text-center my-5">
                        <img class="animate__animated animate__pulse" src="/img/coding.png" alt="logo">
                    </div>
                </header>
            </div>

            <div class="container-fluid text-white" id="about">
                <div class="row text-white p-5 text-center">
                    <div class="col-md-6">
                        <i class="far fa-lightbulb fa-5x"></i>
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-center mb-3">Philosophy</h3>
                        <p>We believe technology is only truly successful when people find it simple, engaging, and effective at solving their problems... without creating new ones. Everything we do is guided by this single core principle.</p>
                    </div>
                </div>
                <div class="row p-5 text-center">
                    <div class="col-md-6">
                        <i class="far fa-hourglass fa-5x"></i>
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-center mb-3">Experience</h3>
                        <p>Years of extensive in-depth domain knowledge give us insight into the challenges of the property and energy markets. Understanding these problems first-hand is critical to delivering effective products.</p>
                    </div>
                </div>
                <div class="row p-5 text-center">
                    <div class="col-md-6">
                        <i class="fab fa-connectdevelop fa-5x"></i>
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-center mb-3">Process</h3>
                        <p>Our solutioning revolves around talking to customers and partners. We design and rapidly iterate concepts based on both machine data and human feedback, then repeat this process to continually enhance our products.</p>
                    </div>
                </div>
            </div>

            <%- include ('partials/footer')%>

    </body>

</html>